.Activities {
  width: 100%;
  padding: 10% 0px;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.Activities-title {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.Activities-paragraph {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.Activities-cardholder {
  width: 80%;
  margin: 10% 10% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.Activities-conditions {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

.Activities-conditions-card {
  background-color: white;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.Activities-conditions-card-text {
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
}
.Activities-conditions-card-number {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.Activities-overlay-content-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 20px;
  margin-top: 40px;
  border: black 1px solid;
  color: black;
  letter-spacing: 2px;
}

.Activities-overlay-content-button:hover {
  background-color: black;
  padding: 8px 20px;
  color: white;
  letter-spacing: 2px;
}

@media all and (max-width: 900px) {
  .Activities-conditions {
    justify-content: space-between;
  }
}
