.Footer .site-footer {
  background: url("../assets/background2.png");
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: rgb(240, 240, 240);
}
.Footer .site-footer hr {
  border-top-color: rgb(240, 240, 240);
  opacity: 0.5;
}
.Footer .site-footer hr.small {
  margin: 20px 0;
}
.Footer .site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.Footer .site-footer a {
  color: rgb(240, 240, 240);
}
.Footer .site-footer a:hover {
  color: rgba(84, 217, 202, 1);
  text-decoration: none;
}
.Footer .footer-links {
  padding-left: 0;
  list-style: none;
}
.Footer .footer-links li {
  display: block;
}
.Footer .footer-links a {
  color: rgb(240, 240, 240);
}
.Footer .footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: rgba(84, 217, 202, 1);
  text-decoration: none;
}
.Footer .footer-links.inline li {
  display: inline-block;
}
.Footer .site-footer .social-icons {
  text-align: right;
}
.Footer .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: rgb(200, 200, 200);
}
.Footer .copyright-text {
  margin: 0;
}

.linkedin,
.facebook,
.twitter,
.dribbble {
  color: white !important;
}

@media (max-width: 991px) {
  .Footer .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .Footer .site-footer {
    padding-bottom: 0;
  }
  .Footer .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.Footer .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.Footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.Footer .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.Footer .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.Footer .social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: rgba(84, 217, 202, 1);
}
.Footer .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.Footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}
.Footer .social-icons a.twitter:hover {
  background-color: #00aced;
}
.Footer .social-icons a.linkedin:hover {
  background-color: rgba(84, 217, 202, 1);
}
.Footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .Footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
