.redBackground {
  background-color: rgb(255, 39, 100);
}

.greenBackground {
  background-color: rgb(84, 217, 202);
}

.blueBackground {
  background-color: rgb(47, 118, 151);
}

.formatPage {
  display: block;
}

img.formats {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.formatPage .titleRow h1 {
  color: black;
  letter-spacing: 3px;
  font-weight: 600;
}

div.titleRow {
  min-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 80px 0px 20px 0px;
}

div.cardRow {
  width: 90%;
  margin: 50px auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

div.formatCard {
  min-height: 100px;
  width: 30%;
  text-align: center;
}

.redBorder {
  border: solid 3px rgb(255, 39, 100);
  border-radius: 20px;
}

.greenBorder {
  border: solid 3px rgb(84, 217, 202);
  border-radius: 20px;
}

.blueBorder {
  border: solid 3px rgb(47, 118, 151);
  border-radius: 20px;
}

div.formatTitle {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  margin: -2px;
}

div.formatTitle p {
  font-weight: 500;
  position: relative;
  top: 8px;
  color: white;
}

div.formatGoal {
  height: 30%;
  margin-top: 20px;
}

div.formatGoal p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

div.formatPointers {
  height: 10%;
}

div.formatPointers p {
  border-bottom: 1px solid grey;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  width: 70%;
  margin: 0px auto;
  display: block;
}

.learnMoreButtonRed {
  border: 1px solid rgb(255, 39, 100);
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  bottom: 20px;
}

.learnMoreButtonRed:hover {
  background-color: rgb(255, 39, 100);
  color: white;
}

.learnMoreButtonGreen {
  border: 1px solid rgb(84, 217, 202);
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 60px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  bottom: 20px;
}

.learnMoreButtonGreen:hover {
  background-color: rgb(84, 217, 202);
  color: white;
}

.learnMoreButtonBlue {
  border: 1px solid rgb(47, 118, 151);
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  bottom: 20px;
}

.learnMoreButtonBlue:hover {
  background-color: rgb(47, 118, 151);
  color: white;
}

.iterationCycleIcon {
  position: relative;
  top: 20px;
  width: 20px;
  height: 20px;
}

.arrow {
  position: relative;
  top: 20px;
  width: 20px;
  height: 20px;
}

@media all and (max-width: 1000px) {
  div.cardRow {
    display: block;
  }
  div.formatCard {
    min-width: 90%;
    margin: 50px auto;
  }
  div.formatGoal p {
    margin: 20px 30px 40px 30px;
  }

  div.formatPointers {
    height: 20%;
  }

  div.formatPointers p {
    border-bottom: 1px solid grey;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    width: 60%;
    margin: 8px auto;
    display: block;
  }

  .learnMoreButtonRed {
    position: relative;
    bottom: 10px;
  }
  .learnMoreButtonGreen {
    position: relative;
    bottom: 10px;
  }
  .learnMoreButtonBlue {
    position: relative;
    bottom: 10px;
  }

  .iterationCycleIcon {
    transform: rotate(90deg);
    left: 48%;
    top: -5%;
  }
  .arrow {
    transform: rotate(90deg);
    left: 48%;
    top: -5%;
  }
}

@media all and (max-width: 600px) {
  div.cardRow {
    justify-content: center;
  }
  div.formatCard {
    min-width: 90%;
    margin: 50px auto;
  }
}
