:root {
  /* Set neon color */
  --neon-text-color: rgba(84, 217, 202, 0.2);
  --neon-border-color: rgba(255, 42, 127, 1);
}

/* Introduction Section - Basic Styling ------------------------------------------*/

.Introduction-background {
  background: url(../assets/backgroundMobile4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 115vh;
  display: flex;
  align-items: center;
  position: relative;
  top: -10vh;
  z-index: -1000;
}

.Introduction-overlay {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.Introduction-overlay-line {
  display: none;
  height: 100%;
}

.Introduction-overlay-content {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  top: 50vh;
  text-align: center;
}

.Introduction-overlay-content h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 36px;
  color: white;
}
.Introduction-overlay-content .prototypes {
  position: relative;
}

.Introduction-overlay-content-correction {
  width: 100%;
  position: absolute;
  text-align: center;
  left: -52%;
  top: -50%;
  display: none;
}

.Introduction-overlay-content-correction p {
  font-family: "Sedgwick Ave", cursive;
  font-size: 20px !important;
  color: rgba(84, 217, 202, 1) !important;
  transform: rotate(-5deg);
  margin-bottom: -5px;
}

.Introduction-overlay-content h3 {
  font-size: 21px;
  font-weight: 400;
  color: rgb(84, 217, 202);
  position: relative;
  top: 10px;
  letter-spacing: 2px;
}

.Introduction-overlay-content p {
  font-size: 16px;
  color: white;
  letter-spacing: 1.5px;
  line-height: normal;
}

/* css for neon h6 title ------------------------------- */
.Introduction h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  animation: flicker 10s infinite alternate;
  margin-bottom: 10px;
}

.Introduction h6::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.Introduction h6::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.Introduction h6:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem rgba(255, 255, 255, 0.7),
      0.2rem 0.2rem 1rem rgba(255, 255, 255, 0.7),
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* Desktop -------------------------------------------------------------------------------*/
@media all and (min-width: 1000px) {
  .Introduction-background {
    background: url(../assets/backgroundDesktop6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 115vh;
    display: flex;
    align-items: center;
    z-index: -1000;
  }

  .Introduction-overlay {
    position: absolute;
    top: 30vh;
    left: 0px;
    width: 100%;
    min-height: 60vh;
    color: white;
  }
  .Introduction-overlay-line {
    display: none;
    height: 100%;
  }

  .Introduction-overlay-content {
    position: absolute;
    top: 0vh;
    margin-left: 0%;
    left: 8%;
    width: 33%;
    text-align: left;
  }

  .Introduction-overlay-line img {
    position: absolute;
    top: 0vh;
    height: 100%;
    left: 4%;
  }
  .Introduction h6 {
    justify-content: left;
    align-items: left;
  }
}

/* Large Screen -------------------------------------------------------------------------------*/
@media all and (min-width: 1500px) {
  .Introduction-background {
    min-height: 110vh;
  }

  .Introduction-overlay {
    position: absolute;
    top: 30vh;
    left: 0px;
    width: 100%;
    min-height: 35vh;
    color: white;
  }
}

/* Samsung fold ----------------------*/
@media all and (max-width: 290px) {
  .Introduction-background {
    min-height: 160vh;
    top: -20vh;
  }

  .Introduction-overlay {
    position: absolute;
    top: 18vh;
    left: 0px;
    width: 100%;
    min-height: 80vh;
    color: white;
  }
  .Introduction-overlay-content h1 {
    font-size: 32px;
  }
  .Introduction-overlay-content p {
    font-size: 14px;
  }
}

/* small-phone ---------------------------*/
@media all and (max-height: 700px) {
  .Introduction-background {
    height: 140vh;
    top: -20vh;
  }
}
